@import '../../_variables';

$position: fixed;
$desktopWidth: 432px;
$desktopHeight: 100vh;
$space-between: space-between;
$footerHeight: 106px;

.page-plans {
  &__background {
    @media (min-width: 792px) {
      // Ajuste para dispositivos de escritorio
      display: flex;
      justify-content: space-between;
    }

    &--image-left {


      position: fixed;

      height: $desktopHeight;
      bottom: 0;
      left: 0;

      @media (min-width: 793px) {
        z-index: 1;
      }

      @media (max-width: 792px) {
        // Ajuste para dispositivos móviles
        //background-image: url('../../assets/media/images/blur-asset2.png');
        angle: -180 deg;
        width: 256px;
        height: 640px;
        top: 488px;
      }
    }

    &--image-right {
      background-image: url('../../assets/media/images/blur-asset.png');
      background-size: cover;
      background-position: right 50%;
      position: $position;
      width: $desktopWidth;
      height: $desktopHeight;
      //height: calc(100% - $footerHeight);
      angle: 180deg;
      right: 0;
      top: 0;
      bottom: 0;

      @media (min-width: 793px) {
        z-index: 1;
      }


      @media (max-width: 792px) {
        // Ajuste para dispositivos móviles
        background-image: url('../../assets/media/images/blur-asset 1.png');
        width: 352px;
        height: 304px;
        angle: -180 deg;
      }

    }
  }

  &__content {
    position: relative;
    //position: $position;
    //background: #ecd79e;
    //height: 100vh;
    //height: 100%;
    //height: calc(100% - $footerHeight);
    //position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;


    @media (max-width: 792px) { // Ajuste para dispositivos mobil
      max-width: 384px;
      width: 100%;
      //width: 384px;
      max-height: 723px;
      height: 100%;
      padding: 0px 24px 64px 24px;
      gap: 24px;
    }

    &--section-left {

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 32px 0px 48px 120px;
      gap: 10px;
      min-width: 450px;
      width: 100%;
      @media (max-width: 792px) { // Ajuste para dispositivos mobil
        display: none;

      }


      &--img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        min-width: 50%;
        min-height: 50%;
        width: auto;
        height: auto;
        //height: auto;
        gap: 0px;

      }

    }

    &--section-right {



      //background: #4f4fff;
      min-width: 696px;
      width: 100%;

      padding: 32px 216px 80px 128px;

      @media (max-width: 792px) {

        padding: 0px 24px 64px 24px;
        //gap: 24px;
        //opacity: 0px;
      }

      //gap: 24px;

      &__frame1 {

        width: 352px;
        //height: 168px;
        gap: 16px;


        &--tag {
          width: 172px;
          height: 24px;
          padding: 2px 8px 2px 8px;
          gap: 4px;
          border-radius: 4px;
          background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);

          &--label {
            font-family: $primary-font;
            font-size: $font-size-2;
            font-weight: $font-weight-2;
            line-height: 16px;
            letter-spacing: 0.4000000059604645px;
            text-align: left;

          }
        }


        &__cardh {
          @media (max-width: 792px) { // Ajuste para dispositivos mobil
            display: flex;
            justify-content: center;

          }

          &--text1 {
            width: 352px;
            height: 80px;
            font-family: $primary-font;
            font-size: 32px;
            font-weight: $font-weight-2;
            line-height: 40px;
            letter-spacing: 0em;


            @media (max-width: 792px) { // Ajuste para dispositivos mobil
              width: 200px;
              height: 72px;
              //top: 28px;
              //gap: 0px;


            }

          }


          &--img {
            display: none;


            @media (max-width: 792px) { // Ajuste para dispositivos mobil
              //width: 480px;
              display: block;
              width: 136px;
              height: 160px;
              left: 200px;
              gap: 0px;
              border-radius: 16px 0px 0px 0px;
              //width: 100%;
              height: auto;
            }

          }

        }


        &--text2 {
          width: 352px;
          height: 40px;
          font-family: $primary-font;
          font-size: $font-size-2;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #03050F;
        }


      }

      &__frame2 {
        display: grid;
        //grid-template-columns: auto ;
        //gap: 16px;
        width: 351px;
        //height: 128px;
        gap: 16px;


      }

      &__frame3 {
        gap: 12px;
        //top:16px;

        width: 351px;
        //height: 84px;
        //gap: 12px;

        &--terminos {
          font-family: $primary-font;
          font-size: 12px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.10000000149011612px;
          text-align: left;
          text-decoration: underline;
        }
      }

      &--button {

        position: absolute;
        width: 195px;
        height: 64px;
        padding: 20px 40px 20px 40px;
        gap: 8px;
        border-radius: 40px;
        background: #03050F;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        border: 0;

        @media (max-width: 792px) {
          width: 336px;
          height: 56px;
          padding: 18px 40px 18px 40px;
          gap: 8px;
          border-radius: 40px 40px 40px 40px;
          //opacity: 0px;

        }

      }
    }

  }

  .check-icon {

  }
}

