@import '../../_variables';

$position: fixed;
$desktopWidth: 432px;
$desktopHeight: 1088px;
$space-between: space-between;

.page-plans {
  &__background {
    //width: 100%;
    //height: 100vh;
    //
    @media (min-width: 792px) {
      // Ajuste para dispositivos de escritorio
      display: flex;
      justify-content: space-between;
    }

    &--image-left {
      background-image: url('../../assets/media/images/blur-asset-purple.png');
      background-size: cover;
      background-position: left;
      position: $position;
      width: $desktopWidth;
      height: $desktopHeight;
      bottom: 0;
      left: 0;

      @media (max-width: 792px) {
        // Ajuste para dispositivos móviles
        background-image: url('../../assets/media/images/blur-asset2.png');
        angle: -180 deg;
        width: 256px;
        height: 640px;
      }
    }

    &--image-right {
      background-image: url('../../assets/media/images/blur-asset.png');
      background-size: cover;
      background-position: right top;
      position: $position;
      width: $desktopWidth;
      height: $desktopHeight;
      angle: 180deg;
      right: 0;
      top: 0;


      @media (max-width: 792px) {
        // Ajuste para dispositivos móviles
        background-image: url('../../assets/media/images/blur-asset 1.png');
        width: 352px;
        height: 304px;
        angle: -180 deg;
      }

    }
  }

  &__content {

    display: flex;
    justify-content: space-between;
    @media (max-width: 792px) { // Ajuste para dispositivos mobil

      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &--section-left {

      padding: 32px 0px 48px 120px;
      gap: 10px;
      width: 600px;

      &--img {

        //width: 480px;
        width: 100%;
        height: auto;

        @media (max-width: 792px) { // Ajuste para dispositivos mobil
          display: none;
        }
      }

    }

    &--section-right {
      width: 696px;
      padding: 32px 216px 80px 128px;

      @media (max-width: 792px) {

        padding: 0px 24px 24px 24px;
        gap: 24px;
        //opacity: 0px;
      }



      &__frame1 {
        width: 352px;
        //height: 168px;
        gap: 16px;


        &--tag {
          width: 172px;
          height: 24px;
          padding: 2px 8px 2px 8px;
          gap: 4px;
          border-radius: 4px;
          background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);

          &--label {
            font-family: $primary-font;
            font-size: $font-size-2;
            font-weight: $font-weight-2;
            line-height: 16px;
            letter-spacing: 0.4000000059604645px;
            text-align: left;

          }
        }


        &__cardh {
          @media (max-width: 792px) { // Ajuste para dispositivos mobil
            display: flex;
            justify-content: center;

          }

          &--text1 {
            width: 352px;
            height: 80px;
            font-family: $primary-font;
            font-size: 32px;
            font-weight: $font-weight-2;
            line-height: 40px;
            letter-spacing: 0em;


            @media (max-width: 792px) { // Ajuste para dispositivos mobil
              width: 200px;
              height: 72px;
              //top: 28px;
              //gap: 0px;


            }

          }


          &--img {
            display: none;


            @media (max-width: 792px) { // Ajuste para dispositivos mobil
              //width: 480px;
              display: block;
              width: 136px;
              height: 160px;
              left: 200px;
              gap: 0px;
              border-radius: 16px 0px 0px 0px;
              //width: 100%;
              height: auto;
            }

          }

        }


        &--text2 {
          width: 352px;
          height: 40px;
          font-family: $primary-font;
          font-size: $font-size-2;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #03050F;
        }


      }

      &__frame2 {
        display: grid;
        //grid-template-columns: auto ;
        //gap: 16px;
        width: 351px;
        //height: 128px;
        gap: 16px;


      }

      &__frame3 {
        gap: 12px;
        //top:16px;

        width: 351px;
        //height: 84px;
        //gap: 12px;

        &--terminos {
          font-family: $primary-font;
          font-size: 12px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.10000000149011612px;
          text-align: left;
          text-decoration: underline;
        }
      }

      &--button {
        position: absolute;
        width: 195px;
        height: 64px;
        padding: 20px 40px 20px 40px;
        gap: 8px;
        border-radius: 40px;
        background: #03050F;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        border: 0;

      }
    }

  }

  .check-icon {

  }
}

