@import '../../../assets/styles/variables';
.input-check-accessory {
  label{
    font-family:$primary-font;
    font-size: $font-size-1;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

    display: flex;
    align-items: center;
    margin-top: 10px;

    input[type="checkbox"] {
      display: none; // Ocultar el checkbox por defecto

      + .check-icon {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 5px;


        &::before {
          content: '\2713'; // Símbolo de verificación (✓)
          //font-size: 16px;
          line-height: 1;
          color: transparent; // Inicialmente ocultar el icono
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:checked {
        + .check-icon::before {
          color: #FFFFFF;

        }

        + .check-icon {
          background-color: #0A051E;
        }
      }
    }
  }

}
