@import '../../variables';

.option {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);

  &__decription {
    grid-column: span 12;
    grid-row: 1;
    margin: 0 auto;

    &__text-title {
      font-family: $secondary-font;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -0.6000000238418579px;
      text-align: center;
      width: 544px;
      margin: 0 auto;

      @media (max-width: 792px) { // Ajuste para dispositivos móviles
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        width: 336px;
        height: 72px;
        gap: 0px;


      }
    }

    &__text-subtitle {
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.10000000149011612px;
      text-align: center;

      @media (max-width: 792px) { // Ajuste para dispositivos móviles
        width: 336px;
        text-align: left;


      }

    }

  }

  &__plan {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin: 0 auto;

    @media (min-width: 792px) {
      display: flex;
      justify-content: center;

    }

    &__card {
      grid-column: span 4;
      background: #090965;
      gap: 10px;

      @media (max-width: 792px) { // Ajuste para dispositivos móviles
        grid-column: span 12;
      }

      padding: 16px 24px 40px 24px;
      gap: 0px;
      border-radius: 24px 24px 24px 24px;
      background: #FFFFFF;
      box-shadow: 0px 1px 32px 0px #AEACF359;


      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__icon {
          display: flex;
          justify-content: center;
          font-family: $secondary-font;
          font-size: 20px;
          font-weight: 900;
          line-height: 28px;
          letter-spacing: -0.20000000298023224px;
          text-align: left;

          p {
            @media (min-width: 792px) {
              display: none;
            }
          }

        }
      }

      &__body {

        &--title {
          width: 208px;
          height: 28px;
          gap: 0px;

          font-family: $secondary-font;
          font-size: 20px;
          font-weight: 900;
          line-height: 28px;
          letter-spacing: -0.20000000298023224px;
          text-align: left;

          @media (max-width: 792px) { // Ajuste para dispositivos móviles
            display: none;
          }

        }

        &--subtitle {

          width: 208px;
          height: 40px;
          gap: 0px;

          font-family: 'Lato';
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;

        }
      }

    }
  }

}
