.plans {
  display: block;
  &__step-container {
    width: 1360px;
    //height: 56px;
    top: 64px;
    padding: 16px 0px 16px 0px;
    gap: 0px;

    background: #EDEFFC;
    display: flex;
    justify-content: center;

  }

  &__button {
    //display: flex;
    //width: 82px;
    //height: 20px;
    top: 160px;
    left: 216px;
    //gap: 8px;

    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;


    &__icon {
      width: 20px;
      height: 20px;
      //gap: 0px;
      //angle: -90 deg;

      background-image: url('../../../../assets/media/images/Icon-button.png');;
      background-size: cover; /* Ajusta el tamaño de la imagen */
      background-repeat: no-repeat; /* Evita que se repita la imagen */
    }

    label {
      //styleName: Web/Text_Button/Text_button3;
      font-family: Lato;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;

      width: 54px;
      height: 20px;
      gap: 0px;
      color: #4F4FFF;


    }


  }
}

