@import '../../../assets/styles/variables';


.step {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 10px;
  @media (max-width: 792px) { // Ajuste para dispositivos móviles
    display: none;
  }

  color: #7981B2;
  border-color: #7981B2;

  &__circle {
    display: flex;
    justify-content: center;
    //background: #EDEFFC;

    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    margin-right: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #fff;
  }

  &__label {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }

}

.active .step__circle {
  border-color: #4F4FFF;
  border-color: #4F4FFF;
  background: #4F4FFF;
  color: white;
}

@media (max-width: 767px) {

}

.completed .step__circle {
  font-feature-settings: 'clig' off, 'liga' off;
}
