@import '../_variables';

.footer {
  background: #03050F;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  //height: 100px;

  &__content {
    display: grid;
    grid-template-rows: auto auto;
    padding: 32px 24px;

    @media (min-width: 792px) {
      grid-template-columns: 1fr auto;
      gap: 20px;
      justify-content: space-between;
      padding: 32px 120px;
    }
  }

  &__logo {
    width: 100%;
    height: 45px;
    top: 2.17px;
    left: 75.95px;
    gap:24px;

    border: none;
    background-repeat: no-repeat;
    background-image: url('../../assets/media/logo/Logo-sm.svg');
    background-position: center;

    @media (min-width: 793px) { // Ajuste para dispositivos de escritorio
      width: 85.388px;
      height: 42px;
      flex-shrink: 0;
      border: none;
      background-repeat: no-repeat;
      background-image: url('../../assets/media/logo/Logo.svg');
    }
  }

  &__text {
    color: #F8F9FF;
    font-size: $font-size-2;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    @media (max-width: 792px) {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.1px;
    }
  }

  &__separator {
    display: none;

    @media (max-width: 792px) {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #2B304E;
      border: none;
      margin: 10px 0;
    }
  }
}
