/**
Styles
 */
@import './_variables';
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato&display=swap';
/**
Styles local
 */
@import "App";
@import "layout/Footer";
@import "layout/Header";
@import "pages/quote-request/QuoteRequest";
@import "pages/plans/Plans";
@import "pages/plans/Plan";
@import "pages/plans/Option";
@import "pages/plans/Summary";


body {
  margin: 0px;
  font-family: $primary-font;
  //width: 1360px;
  height: 704px;


  font-size: $font-size-4;

  .invalid-feedback{
    color: red;
    font-size: $font-size-1;
    //margin: 0;
}
  .linea{
    border: 1px solid #CCD1EE;
    width: 331.5px;
    height: 0px;
    gap: 0px;


  }


}

